p {
    font-size: 100%;
    font-family: arial;
}

.narration {
    text-align: center;
}

.desc_title {
    font-weight: bold;
}

.nation {
    width: 45%;
    text-align: center;
    float: left;
}

.nation_disabled {
    width: 45%;
    text-align: center;
    background-color: #888888;
    float: left;
}

#nations {
    margin-left: 2%;
    margin-right: 2%;
}

.style_selected {
    font-weight: bold;
}

.style_requirement {
    display: none;
}

.basic_requirement {
    display: none;
}